@model Menus
<form method="post" action="/admin/menus/edit" enctype="multipart/form-data">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4 shadow">
            <h6 class="fw-bold text-primary mb-4">Edit Menu</h6>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <input type="hidden" asp-for="MenuId" />
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="/admin/menus" class="btn btn-secondary ms-2">Back to Menus</a>
            </div>
        </div>
    </div>
</form>
